*{
    background-color: black;
}
.blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .blink_me{
      color: chartreuse;
      font-size: 20pc;
      
  }

  .square {
    height: 50px;
    width: 50px;
    background-color: pink ;
    animation: blinker 1s linear infinite;
  }

  .circle {
    height: 50px;
    width: 50px;
    background-color: lightskyblue;
    border-radius: 50%;
    animation: blinker 1s linear infinite;
  }
  
